.safetyMap h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: #5f2472;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.showIncidents {
    background-color: white;
    width: 20%;
    border: black 2px solid;
    border-radius: 4px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    color: black;
}
